<hr/>
<div id="footer" class="row">
  <!-- footer nav -->
{% comment %}
  <ul class="navbar-nav list-inline">
    <li class="first">
      <a href="">運営会社</a>
    </li>
    <li>
      <a href="">関連会社</a>
    </li>
    <li>
      <a href="">利用規約</a>
    </li>
    <li>
      <a href="">社会貢献</a>
    </li>
    <li style="width:100px;">
      <a href="">お問い合わせ</a>
    </li
  </ul>
  {% endcomment %}

  <!-- clear fix -->
  <div class="clearfix"></div>
  {% comment %}
  <!-- sns icons -->
  <ul class="sns-icon list-inline">
    <li>
      <i class="fa fa-twitter fa-3x"></i>
    </li>
    <li>
      <i class="fa fa-facebook fa-3x"></i>
    </li>
    <li>
      <i class="fa fa-github fa-3x"></i>
    </li>
  </ul>
  {% endcomment %}

  <!-- copy right -->
  <div class="copy">
    <span>**********.inc All Rights Reserved.</span>
  </div>
</div>

